p#spiegazione-mappa-interattiva {
    padding-top: 30px;
    font: 14px Courier New, Courier, monospace;

}

p#spiegazione-mappa-antica {
    display: none;
    padding-top: 30px;
    font: 14px Courier New, Courier, monospace;
}

.col-md-3 h4 {
    padding-top: 30px;
    padding-right: 10px;
    font: 25px Courier New, Courier, monospace;
    color:  #2778AA;
    
}

.col-md-3 p {
    padding-top: 30px;
    font: 16px/1.5 Courier New, Courier, monospace; /*Helvetica Neue,Helvetica,Arial,sans-serif;*/
} 

.tab-content {
    padding-top: 20px;
}

#mapid {
    border-radius: 25px;
}

#home-tab {
    font: 11px  Courier New, Courier, monospace;/*Helvetica Neue,Helvetica,Arial,sans-serif;*/
}

#profile-tab {
    font: 11px  Courier New, Courier, monospace;/*Helvetica Neue,Helvetica,Arial,sans-serif; */
}

#mapid{
    height: 500px;
}

p#san-nicolo {
    display: none;
    font: 16px/1.5 Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

p#torre-viscontea {
    display: none;
    font: 16px/1.5 Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

p#ponte-azzone {
    display: none;
    font: 16px/1.5 Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

p#isola-viscontea {
    display: none;
    font: 16px/1.5 Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

p#quartiere-castello {
    display: none;
    font: 16px/1.5 Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

#on {
    font: 14px Courier New, Courier, monospace;  
}

#off {
    font: 14px Courier New, Courier, monospace;
}
.btn-default {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn-default#on.active {
    background-color: #7FDBFF;
    color: white;
}

.btn-default#off.active {
    background-color: #7FDBFF;
    color: white;
}

#map-toggle-container {
    padding-bottom: 30px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Bibliografia */

.list-unstyled {
    padding-top: 20px;     
}

li {
    padding-top: 10px;
}

.mt-0 {
    font: 22px Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

p#biblio-descrizione {
    font: 16px Courier New, Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

/* Galleria */

div#galleria {
    padding-top: 30px;
}

p#img-caption {
    padding-top: 20px;
    font: 13px Courier New, Courier, monospace;
}